#cabecalho {
    text-align: center;
    color:rgb(191, 120, 50)
}

#cabecalho h1 {
  font-size: 40px;
  margin: 0;
}

#cabecalho img {
    width: 100%;
    height: 100%;
}
#btnShuffleCards {
    background-color: #4a6800;
    color: black;
    border-radius: 5px;
    font-size: larger;
    font-weight: bold;

}

.players {
    display: flex;
    align-items: center;

}
#body{
    background-color: #90490f
}

#player1Side {
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player2Side {
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#spaceCardP1 {
    width: 250px;
    height: 365.6px;
    justify-content: center;
    background-color: #4a6800;      
}

#spaceCardP2 {
    width: 250px;
    height: 365.6px;
    justify-content: center;
    background-color: #4a6800;   
}

#btnAttribute {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(191, 120, 50);
}
#btnAttribute img {
    height: 150px;
    width: 60%;
    padding: 20px;
}

#attributes {
    display: block;
    font-size: larger;
    font-weight: bolder;
    width: 200px;
}
#attributes h1{
    margin: 0;
    font-size: 24px;
}

#attributes div{
  margin: 8px;
}

.img {
    width: 250px;
    height: 365.6px;
}

.attributesCharacter {
    width: 246px;
    height: 150px;
    background-color: #4a6800;
    color: rgb(191, 120, 50);
    border: 4px;
    border-style:solid;
    border-color: #b38f0e;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: large;
}
.attributesCharacter p {
    margin: 12px;
}

#scoreP1 {
    width: 100px;
    height: 40px;
    color: rgb(191, 120, 50);
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 900
}


#scoreP2 {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    color: rgb(191, 120, 50);
    font-size: 30px;
    font-weight: 900

}

#proximaRodada {
    display: flex;
    justify-content: center;
}
#BtnProxima{
    background-color: #4a6800;
    color: black;
    border-radius: 5px;
    font-size: larger;
    font-weight: bold;

}